.bodyContainer {
    background: url('../../pages/media/WhoWeAre-Images/WhoWeAre-image-6.jpeg');
    background-position-x: right;
    background-position-y: top;
    background-size: cover;
    padding-bottom: 15%;
    padding-top: 15%;
    position: relative;
}

.sectionBody {
    font-size: 2rem;
    max-width: 800px;
    line-height: 1.5;
}

.ContainerWidth {
    max-width: 1550px;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .bodyContainer {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .BRBeforeMDScrn {
        display: none;
    }
}

@media (min-width: 991px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .ContainerWidth {
        padding: 0 60px;
    }
}