.ContainerWidth {
    margin: 0 auto;
    max-width: 1550px;
}

@media (max-width: 991px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .ContainerWidth {
        padding: 0 70px;
    }
}

@media (max-width: 767px) {
    .Section1{
        text-align: center;
    }
}

.mainHeading {
    font-size: calc(48px + 1.50vw);
}

.mainHeading2 {
    font-size: calc(30px + 1.50vw);
}

.sectionTitle {
    font-size: calc(25.5px + 1.25vw);
    line-height: 1.4;
    letter-spacing: -1.5px;
}

.sectionBody {
    font-size: 1.125rem;
    line-height: 1.7;
    letter-spacing: -0.2px;
}

