.ContainerWidth {
    max-width: 1550px;
    margin: 0 auto;
}

.sectionTitle {
    font-size: calc(15px + 1.5vw);
}

@media (min-width: 991px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .ContainerWidth {
        padding: 0 60px;
    }
}