.ContainerWidth {
    margin: 0 auto;
    max-width: 1550px;
}

@media (max-width: 992px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}

@media (min-width: 991px) {
    .ContainerWidth {
        padding: 0 70px;
    }
}

@media (min-width: 768px) {
    .loginScreen {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.loginContentAfter400PX {
    display: none;
}

.loginScreen {
    background: #E3F0FF;
}

@media (max-width: 400px) {
    .loginContentAfter400PX {
        display: block;
    }

    .loginContentBefore400PX {
        display: none;
    }

    .loginScreen {
        background: white;
    }
}