.ContainerWidth {
    /* max-width: 1550px; */
    margin: 0 auto;
}

.letsTalk {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.letsTalk:hover {
    color: white;
    font-size: 15px;
    text-decoration: underline;
}

.sectionTitle {
    font-size: calc(30px + 1.25vw);
}

.sectionBody {
    font-size: 1.125rem;
    line-height: 1.5;
}

.openPositionBtn {
    background: #253053;
    border: 2px solid #253053;
    color: white;
    /* font-size: calc(14px + 0.20vw); */
    font-size: 16px;
    /* padding: 12px 15px; */
}

.openPositionBtn:hover {
    background: #021fa9;
    border: 2px solid #021fa9;
    color: white;
}

.salesBtn {
    background: transparent;
    border: 2px solid white;
    color: white;
    /* font-size: calc(14px + 0.20vw); */
    font-size: 16px;
    /* padding: 12px 15px; */
}

.salesBtn:hover {
    background: white;
    border: 2px solid #021fa9;
    color: #021fa9;
}

.imgStyle {
    clip-path: polygon(0 0, 100% 0, 100% 70%, -25px 100%);
}

.showAfterLGScrn {
    width: 100%;
}

@media (min-width: 576px) {
    /* .ContainerWidth { */
        /* padding: 0 40px; */
        /* padding-left: 40px; */
        /* padding-right: 40px; */
    /* } */

    .showAfterLGScrn {
        max-width: 400px;
        margin: auto;
    }
}

.BRTagAfterMDScrn {
    display: none;
}

@media (min-width: 991px) {
    .ContainerWidth {
        /* padding: 0 40px; */
        padding: 0 30px;
        /* padding-right: 40px; */
    }
}

@media (min-width: 992px) {
    .ContainerWidth {
        /* padding: 0 60px; */
        padding: 0 60px;
        /* padding-right: 60px; */
    }

    .rightSide {
        max-width: 700px;
        float: right;
    }

    .imgStyle {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
        min-width: 800px;
    }

    .openPositionBtn {
        margin-right: 10px;
    }

    .showAfterLGScrn {
        display: none;
    }
}

@media (max-width: 991px) {
    .openPositionBtn {
        width: 100%;
    }

    .salesBtn {
        width: 100%;
        margin-top: 10px;
    }

    .makeDivAlignCenterAfterLGScrn {
        text-align: center;
    }

    .hideAfterLGScrn {
        display: none;
    }

    .showAfterLGScrn {
        display: block;
    }
}

@media (max-width: 576px) {
    .BRTagAfterMDScrn {
        display: block;
    }
}