.ContainerWidth {
    max-width: 1550px;
    margin: 0 auto;
}

.columnData {
    position: relative;
    color: white;
}

.sectionTitle {
    font-size: calc(20px + 1.25vw);
}

.sectionBody {
    font-size: 1.30rem;
    line-height: 32px;
}

.bottomLeft {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

@media (min-width: 991px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .ContainerWidth {
        padding: 0 60px;
    }
}