.ContainerWidth {
    max-width: 1550px;
    margin: 0 auto;
}

.sectionTitle {
    font-size: calc(20px + 1.25vw);
}

.btnStyle {
    background: linear-gradient(102.57deg, #dc0916, #f41fd6 100%, #f41fd6 0);
    border-radius: 6.25rem;
    font-size: 1.125rem;
    letter-spacing: .03125rem;
    height: 3.5rem;
    padding: 9pt 2pc;
}

@media (min-width: 991px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}
.rightSide {
    text-align: center;
}

@media (min-width: 992px) {
    .ContainerWidth {
        padding: 0 60px;
    }
}

@media (min-width: 768px) {
    .rightSide {
       margin: auto;
       text-align: left;
    }
}