.InnovationSection {
    margin-top: 58px;
    background: linear-gradient(90deg,#6c7bd4,#56a8f7);
    color: white;
}

.ContainerWidth {
    max-width: 1550px;
    margin: 0 auto;
}

.sectionTitle {
    font-size: calc(20px + 1vw);
    font-weight: 570;
}

.sectionBody {
    font-size: 1.125rem;
    line-height: 1.5;
}

@media (min-width: 991px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .ContainerWidth {
        padding: 0 60px;
    }
}


