.IntroSection {
    margin-top: 58px;
}

.ContainerWidth {
    max-width: 1550px;
    margin: 0 auto;
}

.sectionTitle {
    font-size: calc(30px + 1.25vw);
}

.sectionBody {
    font-size: 1.125rem;
    line-height: 1.5;
}

@media (min-width: 991px) {
    .ContainerWidth {
        padding: 0 30px;
    }
}

@media (min-width: 992px) {
    .ContainerWidth {
        padding: 0 60px;
    }

    .imgStyle {
        margin-top: 100px;
    }

    .formStyleBeforeLGScrn {
        max-width: 500px;
    }

    .formStyleAfterLGScrn{
        display: none;
    }
}

@media (max-width: 1199px) {
    .imgStyle {
        margin-top: 150px;
    }
}

@media (max-width: 991px) {
    .imgStyle {
        width: 80%;
        height: 80%;
        margin: auto;
    }

    .hideAfterLGScrn{
        display: none;
    }

    .formStyleBeforeLGScrn{
        display: none;
    }

    .formStyleAfterLGScrn{
        display: block;
    }
}

@media (min-width: 1199px) {
    .imgStyle {
        padding: 100px;
    }
}